* {
    margin: 0;
    padding: 0;
}

button:active, button:focus {
    outline: none;
}

.addToBody {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.layer {
    display: none;
    position: absolute;
    z-index: 5;
    top: calc(50% - 275px);
    left: calc(50% - 205px);
}

.blackLayer {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0, .8);
    z-index: 4;
    top: 0;
    left: 0;
}

.form-box {
    position: relative;
    width: 410px;
    height: 500px;
    position: relative;
    background: #36404A;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.button-box {
    width: 340px;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    width: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 270px;
    transition: .5s;
}

.input-field {
    width: 100%;
    border: 2px solid #8a8a8a;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #36404A;
    outline: none;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}

.submit-btn {
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.check-box {
    margin-left: 10px;
}

.consent-data-wrapper {
    display: flex;
    align-items: center;
}

#login {
    left: calc(50% - 135px);
}

#register {
    left: 450px;
}

label {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

#register .input-field {
    margin-bottom: 10px;
}

#login .submit-btn{
    padding: 10px 60px;
    margin-left: 40px;
}

form {
    position: relative;
}

.closeModal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.closeModal:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 5px;
    background-color: #fff;
    transform: rotate(45deg);
}

.closeModal:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 30px;
    background-color: #fff;
    transform: rotate(45deg);
}

.closeModal:hover:after,  .closeModal:hover:before{
    transition: .3s;
    background-color: #FF4D4D;
}

.message {
    color: #ffa300;
    text-align: center;
}

.nameOfUser {
    color: #65fe1a;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
    transition: .5s;
    /*animation: shadow 3s infinite ease-in-out;*/
}

.nameOfUser:hover {
    color: #00fe8d;
}

@keyframes shadow {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(2deg);}
    20% {transform: rotate(4deg);}
    30% {transform: rotate(2deg);}
    40% {transform: rotate(0deg);}
    50% {transform: rotate(-2deg);}
    60% {transform: rotate(-4deg);}
    70% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}

.logreg .exitFromSite {
    color: #fff;
    transition: .3s;
}

.logreg .exitFromSite:hover {
    color: #FF4D4D;
}

header {
    border-bottom: 1px solid #61636d;
}

.errors_output {
    display: none;
    background-color: #36404A;
    position: absolute;
    top: 0;
    left: -400px;
    z-index: 1;
    width: 300px;
    text-align: center;
    border-radius: 15px 15px 3px 3px;
}

.errors_output_header {
    border-radius: 15px 15px 0 0;
    padding: 5px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    background-color: #ff6a5e;
}

.errors_output_text {
    padding: 5px;
    font-size: 18px;
    color: #ff6a5e;
    font-weight: 600;
}

.success {
    font-size: 28px;
    color: #07d846 ;
    font-weight: 600;
    margin-left: 300px;
}

.consent_data {
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 20px;
    order: 2;
}