* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

header {
    padding: 5px 10px;
    background-color: #343a40;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

a:hover {
    text-decoration: none;
} 

.home {
    color: #4facfe;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 29px;
    font-weight: bold;
}

.logreg {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.logreg a {
    color: #00f2fe;
    font-size: 24px;
    font-weight: bold;
}

.sign_in:hover, .sign_up:hover {
    color: #4facfe;
}

.sign_in {
    position: relative;
    margin-right: 40px;
}

.sign_in:after {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 20px);
    top: -10px;
    background-color: #8f8f8f;
    margin-left: 20px;
}

.card img {
    height: 400px;
    background-size: center;
}

.card {
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.film_title {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #fff;
}

.film_title:hover {
    color: #fff;
}

.author {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

.under_panel .date {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.under_panel {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card-moy {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.boy {
    position: relative;
    display: flex;
    justify-content: center;
}

.createReview {
    position: absolute;
    bottom: 200px;
    left: 800px;
    padding: 10px 30px;
    border: 2px solid #07d846;
    color: #07d846;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    transition: .3s;
}

.createReview:hover {
    background-color: #07d846;
    color: #fff;
    border: 2px solid #07d846;
    box-shadow: 0px 0px 30px #07d846;
}

@media (max-width: 1250px) {
    .card-moy {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .card-moy {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .card-moy {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px) {
    .home {
        font-size: 20px;
    }

    .logreg a {
        font-size: 18px;
    }
}