.container_createreview {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0px 0px 0px;
}

.createReviewTitle {
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #00FFE0;

}

.createReviewForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
}

.createReviewForm label {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-top: 20px;
}

.createReviewForm input:not(:nth-of-type(2)) {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
}

.createReviewForm textarea {
    font-weight: 600;
    font-size: 22px;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 3px;
}

.addReviewBtn {
    margin-top: 20px;
    float: right;
    background: #07D846;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}

.errors_output1 {
    display: block;
    position: absolute;
    right: 0;
    background-color: #36404A;
    width: 300px;
    text-align: center;
    border-radius: 15px 15px 3px 3px;
}

.errors_output_header1 {
    border-radius: 15px 15px 0 0;
    padding: 5px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    background-color: #ff6a5e;
}

.errors_output_text1 {
    padding: 5px;
    font-size: 18px;
    color: #ff6a5e;
    font-weight: 600;
}